<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>Raysume</title>
  <link rel="icon" href="images/raysume.png">
  <!-- google fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Montserrat:wght@100;400;700;800;900&family=Roboto:wght@100;400;700;900&family=Ubuntu:wght@300;400;700&display=swap" rel="stylesheet">
  <!-- CSSstylesheet -->

  <!-- fontsAwesom -->
  <script src="https://kit.fontawesome.com/dcdd8c60bc.js" crossorigin="anonymous"></script>
  <!-- bootstrap -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="css/styleshome.css">


</head>

<body>

  <section id="Navigation">
    <div class="container-fluid navpanel">
      <!-- Nav Bar -->

      <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <a class="navbar-brand">Raysume</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
           <ul class="navList navbar-nav ms-auto">
            <li class="navbar-item">
              <a class="nav-link active" href="">
                Home
              </a>
            </li>
            <li class="navbar-item">
              <a class="nav-link" href="">
                Templates
              </a>
            </li>
            <li class="navbar-item">
              <a class="nav-link" href="/#footer">
                Contact Us
              </a>
            </li>
            <li class="navbar-item">
               <form action="/login" method="get" class="inline">
                 <button class="login btn btn-outline-light"type="submit" name="button">Login</button>
               </form>


            </li>

          </ul>

        </div>
      </nav>
    </div>

  </section>
                            <!-- HomeContent -->

  <section id="HomeContent">
    <div class="container-fluid">
      <div class="home row">
        <div class="title-head col-lg-6">
          <h6>FREE RESUME BUILDER ONLINE</h6>
          <h1>Create a professional resume in minutes</h1>
          <p>
            Save time and effort with the easiest-to-use resume maker online. Impress recruiters and employers with an effective resume template in PDF format and land your dream job!
          </p>
          <form class="" action="/secrets" method="get">
            <button class="btn btn-primary btn-lg resButton" onclick="this.form.submit()" type="button"><i class="fa-solid fa-pen"></i> Create Resume</button>

          </form>

          <hr>
          <h5>Choose Templates</h6>
          <hr>
          <h5>Fill the details</h6>
          <hr>
          <h5>And you're ready to go</h6>

        </div>
        <div class="title-img col-lg-6 ">
          <img class="dogimage" src="images/sample.webp" alt="resume-sample">
        </div>

      </div>

    </div>
  </section>





  <!-- Features -->
  <footer id="footer">

    <i class="ficon fa-brands fa-twitter"></i>
    <i class="ficon fa-brands fa-facebook"></i>
    <i class="ficon fa-brands fa-instagram"></i>
    <i class="ficon fa-solid fa-envelope"></i>
    <p class="Copyright">© Copyright Raysume</p>

  </footer>




</body>

</html>
